body {
  /*background: url("../images/background/kiwis.png") repeat;*/
  /*background-size: cover;*/
}

.content{
  margin-top:2em;
}

.open-task{
  background-color:#008cba;
}

.active-task{
  background-color: #43ac6a;
}

.card-body, .card {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.card-header {
  background-color: rgba(0, 10, 19, 0.5);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
