body {
  background: url("../images/background/kiwis.png") repeat;
  /*background-size: cover;*/
}

.content{
  margin-top:2em;
}

.open-task{
  background-color:#008cba;
}

.active-task{
  background-color: #43ac6a;
}
