.float {
    position: fixed !important;
    /*width:60px;*/
    /*height:60px;*/
    /*right:40px !important;*/
    /*color:#FFF;*/
    /*border-radius:10px;*/
    /*border-color: black;*/
    /*background-color: #eee;*/
    /*border: 4px;*/
    /*text-align:center;*/
    /* box-shadow: 3px 3px 3px #999; */
    z-index: 10000 !important;
}

.clicked {
    color: #3c9a5f !important;
    text-shadow: 0px 0px 0px #000 !important;
}

.likeButton {
    text-shadow: 0px 0px 3px #353535 !important;
    vertical-align: middle !important;
}

.collapse-btn {
    width: 3%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 3px #999;
    border-radius: 100px;
    display: inline-block;
    left: 5px; !important;
    vertical-align: center;
    text-align: center;
    border: 0.5px solid #6a6a6a;
    line-height: 15px;
    bottom: 5px !important;
}

#collapse-img {
    margin-left: auto;
    margin-right: auto;
    margin-top:18%;
    height: 50%;
}

.collapse-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #1271EC;
}

.dock {
    width: 96%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 3px #999;
    border-radius: 10px;
    display: inline-block;
    border: 0.5px solid #6a6a6a;
    left: 45px;
    bottom: 5px !important;
}

.dock:hover {
    background-color: rgba(255, 255, 255, 1);
}

.dock:hover .sailboat-like-btn{
    background-color: rgba(169, 169, 169, 1);
}

.dock:hover .task-btn {
    background-color: #f0f0f0;
}

.sailboat-like-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #202020;
    /*border: 0.5px solid #6a6a6a;*/
    font-size: 8pt;
    min-width: 50px;
    /*width: 50px;*/
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 2px 5px;
    background-color: rgba(240, 240, 240, 0.16);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    vertical-align: middle;
    height: 24px;
    float: right;
    display: inline-block;
    line-height: 15px;
}

.open-task {
    border: 0.8px solid #158ae2; !important;
}

.sailboat-like-btn-liked {
    color: white; !important;
    background-color: #07b94f; !important;
}

textarea:focus, input:focus{
    outline: none;
}

.add-to-task-btn {
    width: 10px;
    height: 10px;
    background-color: inherit;
    margin-left: 6px;
    display: inline-block;
}

.add-to-task-btn:hover {
    background-color: #07b94f; !important;;
}

.search-archive-input {
    line-height: 20pt;
    padding: 20pt;
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px rgba(67, 67, 67, 1);
    font-size: 12pt;
    display: inline-block;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: none;
    bottom: 50%; !important;
    left: 25%; !important;
}

.task-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #202020;
    border: 0.5px solid #6a6a6a;
    font-size: 8pt;
    min-width: 80px;
    margin-left: 10px;
    margin-top: 4px;
    padding: 2px 5px;
    background-color: rgba(240, 240, 240, 0.16);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 100px;
    vertical-align: middle;
    height: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.4em;
}

.dock:hover .task-btn:hover {
    color: white;
    background-color: #158ae2;
}

.dock:hover .sailboat-like-btn-liked{
    color: white; !important;
    background-color: #07b94f; !important;
}


.dock:hover .sailboat-like-btn-liked:hover {
    color: white; !important;
    background-color: #07b94f; !important;
}

.current-task {
    color: white;
    background-color: #07b94f;
}

.dock:hover .current-task {
    color: white;
    background-color: #07b94f;
}

.dock:hover .current-task:hover {
    color: white;
    background-color: #07b94f;
}
