div {
    border: none; !important;
    box-shadow: none; !important;
}

.float {
    position: fixed !important;
    /*width:60px;*/
    /*height:60px;*/
    /*right:40px !important;*/
    /*color:#FFF;*/
    /*border-radius:10px;*/
    /*border-color: black;*/
    /*background-color: #eee;*/
    /*border: 4px;*/
    /*text-align:center;*/
    /* box-shadow: 3px 3px 3px #999; */
    z-index: 10000 !important;
}

.dock {
    width: 96vw; !important;
    height: 30px; !important;
    background-color: rgba(50, 50, 50, 0.2); !important;
    box-shadow: none; !important;
    border-radius: 10px; !important;
    display: inline-block; !important;
    border: none; !important;
    left: 45px; !important;
    bottom: 5px !important;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.dock:hover {
    background-color: rgba(50, 50, 50, 0.9); !important;
}

.dock:hover .current-task {
    color: white; !important;
    background-color: rgba(7, 185, 79, 0.74); !important;
}

.dock:hover .current-task:hover {
    color: white; !important;
    background-color: #07b94f; !important;
}

.dock:hover .open-task-btn:hover {
    color: black; !important;
    /*background-color: #158ae2; !important;*/
}

.dock:hover .open-task-btn {
    color: #343434; !important;
}

.dock:hover .sailboat-like-btn-liked{
    color: white; !important;
    background-color: #07b94f; !important;
}


.dock:hover .sailboat-like-btn-liked:hover {
    color: white; !important;
    background-color: #07b94f; !important;
}


.collapse-btn {
    width: 3%; !important;
    height: 30px; !important;
    background-color: rgba(255, 255, 255, 0.2); !important;
    box-shadow: none; !important;
    border-radius: 100px; !important;
    display: inline-block; !important;
    left: 5px; !important;
    vertical-align: center; !important;
    text-align: center; !important;
    border: none; !important;
    line-height: 15px; !important;
    bottom: 5px !important;
}

#collapse-img {
    margin-left: auto; !important;
    margin-right: auto; !important;
    margin-top:18%; !important;
    height: 50%; !important;
}

.collapse-btn:hover {
    background-color: rgba(255, 255, 255, 1); !important;
    border: 1px solid #1271EC; !important;
}

#new-task-popup {
    width: 50vw;
    height: 1vh;
}

#new-task-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    color: #202020; !important;
    font-size: 8pt; !important;
    text-overflow: ellipsis; !important;
    white-space: nowrap; !important;
    overflow: hidden; !important;
    vertical-align: middle; !important;
    height: 100%; !important;
    width: 30px; !important;
    /*float: right; !important;*/
    display: inline-block; !important;
    line-height: 15px; !important;
    position: relative;
    right: 0.5vw;
    background: rgba(240, 240, 240, 0.16) no-repeat center;
    background-size: 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#new-task-btn:hover {
    border: 1px solid rgba(18, 113, 236, 0.74);
    background-color: white;
}

.sailboat-like-btn:hover{
    border: 1px solid rgba(18, 113, 236, 0.74);
    background-color: white;
}

.dock:hover .task-btn {
    background-color: #f0f0f0; !important;
}

.tasks-area {
    width: 94%;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.sailboat-like-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    color: #202020; !important;
    /*border: 0.5px solid #6a6a6a;*/
    font-size: 8pt; !important;
    text-overflow: ellipsis; !important;
    white-space: nowrap; !important;
    overflow: hidden; !important;
    vertical-align: middle; !important;
    height: 100%; !important;
    width: 30px; !important;
    /*float: right; !important;*/
    display: inline-block; !important;
    line-height: 15px; !important;
    position: relative;
    right: 0.5vw;
    background: rgba(240, 240, 240, 0.16) no-repeat center;
    background-size: 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sailboat-like-btn-liked {
    color: white; !important;
    background-color: #07b94f; !important;
}

.open-task {
    border: 0.8px solid #158ae2; !important;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none; !important;
}

.input-bar {
    line-height: 20pt; !important;
    padding: 20pt; !important;
    width: 50vw; !important;
    height: 1vh; !important;
    background-color: #ffffff; !important;
    box-shadow: 3px 3px 3px rgba(67, 67, 67, 1); !important;
    font-size: 12pt; !important;
    display: inline-block; !important;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    border: none; !important;
    bottom: 50%; !important;
    left: 25%; !important;
}

.tooltip {
    position: relative; !important;
    display: inline-block; !important;
    border-bottom: 1px dotted black; !important;
}

.tooltip .tooltiptext {
    visibility: hidden; !important;
    width: 120px; !important;
    background-color: black; !important;
    color: #fff; !important;
    text-align: center; !important;
    border-radius: 6px; !important;
    padding: 5px 0; !important;

    /* Position the tooltip */
    position: absolute; !important;
    z-index: 1000; !important;
    bottom: 100%; !important;
    left: 50%; !important;
    margin-left: -60px; !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible; !important;
}

.task-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    color: rgba(32, 32, 32, 0.79); !important;
    border: none; !important;
    font-size: 8pt; !important;
    width: 120px; !important;
    margin-left: 10px; !important;
    margin-top: 4px; !important;
    background-color: rgba(237, 237, 237, 0.42); !important;
    text-overflow: ellipsis; !important;
    white-space: nowrap; !important;
    overflow: hidden; !important;
    border-radius: 100px; !important;
    vertical-align: middle; !important;
    height: 20px; !important;
    display: inline-block; !important;
    line-height: 16px; !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.open-task-btn {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    color: rgba(32, 32, 32, 0.79); !important;
    /*border: none; !important;*/
    font-size: 8pt; !important;
    width: 70%;
    background-color: rgba(237, 237, 237, 0.42); !important;
    text-overflow: ellipsis; !important;
    white-space: nowrap; !important;
    overflow: hidden; !important;
    border-top-left-radius: 100px; !important;
    border-bottom-left-radius: 100px; !important;
    vertical-align: middle; !important;
    height: 100%; !important;
    display: inline-block; !important;
    text-align: center; !important;
    line-height: 16px; !important;
    margin: 0; !important;
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.add-to-task-btn {
    width: 15%; !important;
    display: inline-block; !important;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background: no-repeat center;
    background-size: 8px 8px;
    margin: 0; !important;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.close-task-btn {
    display: inline-block; !important;
    margin: 0; !important;
    height: 100%;
    width: 15%;
    text-align: center;
    background-color: inherit;
    vertical-align: middle;
    background: no-repeat center;
    background-size: 8px 8px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.close-task-btn:hover {
    border: 1px solid rgba(255, 51, 49, 0.7); !important;
    color: rgba(255, 51, 49, 0.7);
}

.add-to-task-btn:hover {
    border: 1px solid rgba(7, 185, 79, 0.7); !important;
    color: rgba(7, 185, 79, 0.7); !important;
}

.highlighted-task {
    border: none; !important;
    box-shadow: none; !important;
    background: #20c997;
    /*background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(100,141,255,1) 2%, rgba(149,237,255,1) 100%);*/
    color: white; !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*-webkit-box-shadow:1px 0 5px #07B94F;*/
    /*-moz-box-shadow: 1px 0 5px #07B94F;*/
    /*box-shadow:1px 0 5px #07B94F;*/
}

.current-task {
    color: white; !important;
    background-color: rgba(7, 185, 79, 0.37);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; !important;
    color: rgba(32, 32, 32, 0.79);
    border: none; !important;
    font-size: 8pt; !important;
    width: 100%;
    text-overflow: ellipsis; !important;
    white-space: nowrap; !important;
    overflow: hidden; !important;
    border-top-left-radius: 100px; !important;
    border-bottom-left-radius: 100px; !important;
    vertical-align: middle; !important;
    height: 100%; !important;
    display: inline-block; !important;
    text-align: center; !important;
    line-height: 16px; !important;
    margin: 0; !important;
    padding: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

